/* ================================= 
  Base Element Styles
==================================== */


body {
	position: relative;
	margin: auto;
	font-family: 'Work Sans', sans-serif;
}
/*modal window */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1000;
}
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px;
    border-color: #A9A9A9;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
    border: 0px;
    background: none;
}
.hidden {
    display: none;
}


/*grid*/

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	gap: 12px;
	line-height: 50%;
	width: 80%;
	margin: auto;
}
.card { 
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #dfdfdf;
    padding: 20px;
    margin: 2%;
}


.avatar {
	border-radius: 50%;
	padding-right: 5px;
}

.name{
    color:	#5f5f5f;
    font-size: 1em;
}

.address{
    color:	#5f5f5f; 
    font-size: 1em;
}

h1{
font-size: 1.5em;
margin-left: 10%;
color:	#5f5f5f;
}

h2{
    font-size: 1.25em;
    color:	#5f5f5f;
}


p {
    color:	#5f5f5f;
    font-size: 1em;
}


    hr {
        box-sizing: content-box; 
        height: 0; 
        overflow: visible; 
      }
      

